/* Header Section */
body {
  font-family: Roboto, sans-serif;
  margin: 0;
}
ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 80px;
  font-size: 18px;
  color: #e5e7eb;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #f9faf8;
}
.header {
  background: #1f2937;
  color: #f9faf8;
  padding: 25px 200px 48px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  margin: 25px 80px 80px;
}
.left-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}
/* hero section */
.hero-title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  margin: 0px;
}
.hero {
  display: flex;
  justify-content: space-between;
  margin: 25px 80px 80px;
}
.hero-main {
  width: 450px;
}
.hero-subtext {
  font:
    18px Roboto,
    sans-serif;
  color: #e5e7eb;
}
button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 13px 36px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 15px;
  font-size: 18px;
}
.hero-image {
  background: gray;
  width: 600px;
  height: 250px;
  border-radius: 13px;
  margin: 0;
}
.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 100%;
  height: 100%;
  border-radius: 13px;
  box-shadow: 0 0 19px rgba(125, 139, 246, 0.6);
}
/* information section */
.information {
  padding: 25px 200px 48px;
  margin-bottom: 30px;
}
.info-title {
  display: flex;
  justify-content: center;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  margin: 50px 0px 50px;
}
.information-container {
  display: flex;
  justify-content: space-evenly;
  padding: 0px 80px;
}
.subtext {
  display: flex;
  flex-wrap: wrap;
  width: 170px;
  font:
    18px Roboto,
    sans-serif;
  text-align: center;
}
.subtext img {
  border-radius: 13px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(122, 177, 255, 0.3);
}
/* article section */
.quote {
  background: #e5e7eb;
  padding: 100px 28%;
}
.quote-content {
  font: 36px Roboto;
  color: #1f2937;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 0px;
}
.quote-author {
  text-align: right;
  font:
    24px Roboto,
    sans-serif;
  color: #1f2937;
  font-weight: bold;
  margin: 0px;
}
/*cta section */
.final-cta {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #3882f6;
  padding: 80px;
  margin: 100px 15%;
  border-radius: 15px;
}
.final-cta-title {
  font:
    36px Roboto,
    sans-serif;
  color: #f9faf8;
  font-weight: 900;
  margin: 0px;
}
.final-cta-subtext {
  font:
    18px Roboto,
    sans-serif;
  color: #f9faf8;
  margin: 0px;
}
.final-cta-button {
  padding: 13px 36px;
  border: 2px solid #e5e7eb;
  border-radius: 8px;
  font-weight: bold;
  font-size: 18px;
}
