body {
  font-family: Roboto, sans-serif;
  margin: 0;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 80px;
  font-size: 18px;
  color: #e5e7eb;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #f9faf8;
}

.header {
  background: #1f2937;
  color: #f9faf8;
  padding: 25px 200px 48px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin: 25px 80px 80px;
}

.left-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.hero-title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  margin: 0px;
}

.hero {
  display: flex;
  justify-content: space-between;
  margin: 25px 80px 80px;
}

.hero-main {
  width: 450px;
}

.hero-subtext {
  font-size: 18px;
  color: #e5e7eb;
}
button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 13px 36px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 15px;
  font-size: 18px;
}

.hero-image {
  background: gray;
  width: 600px;
  height: 250px;
  border-radius: 13px;
  margin: 0;
}
.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 100%;
  height: 100%;
}
